*{
	box-sizing: border-box;
}
.header{
	background-color: black;
	height: 70px;
	width: 100%;
	position:fixed ;
	top: 0px;
	left: 0px;
color: white;
}
.text{
margin-top: 75px;
text-align: justify;
}
.link{
background-color:white;
display: inline-block;
}