// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway-<uniquifier> {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
html {
	font-family: "Raleway", serif;
}
ul{
	list-style: none;
	margin-block-start: 0em;
    margin-block-end: 0em;
}
h1,h2{
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p{
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a{
	text-decoration: none;
	color: inherit;
}
body {
	margin: 0;
}
ul{
	margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.menu{
	display: flex;
	gap: 40px;
	align-items: center;
	font-weight: 20;
	color: #000000;
}
.menu_btn{
	display: none;
	border: none;
	width: 50px;
	height: 40px;
	background-color: inherit;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	z-index: 2;
}
.menu_btn span{
	background-color: green;
	height: 2px;
	width: 100%;	
}
.menu-close{
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: inherit;
	z-index: 1;
}
.menu-close.menu-open{
	display: block;
}
.menu_close{
	display: none;
}
.main{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #E1EDE6;
}
.bird {
	display: flex;
	align-items: center;
	justify-content: space-between;
/*	gap: 360px;*/
}
.container {
	max-width: 1460px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}
.produst_btn {
	border: 1px solid #00FF00;
	color: #008000 ;
	padding: 10px 15px;
	font-size: 20px;
}
.produst_btn:hover{
	color: #ADFF2F;
	border: 1px solid #32CD32;
}
.bird_text{
	width: 540px;
}
.bird_text_titer{
	font-size: 60px;
	margin-bottom: 15px;
	font-weight: 500;
	max-width: 540px;
}
.bird_img-adapt{
	width: 100%;
}
.bird_text_titer_mod {
	color: #32CD32;	
}
.bird_text_inner{
	color: #86928B;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 40px;
}
.reproduction_header{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.reproduction_header_btn{
	display: flex;
	gap: 40px;
	font-size: 20px;
}
.reproduction_header_btn_list_link{
	background-color: #E1EDE6;
	color: #2C2D35;
	padding: 10px;
	border-radius: 20px;
}
.reproduction_header_btn_list_link:hover{
	color: #F4F6F5;
	background-color: #008500;
	transition: color 0.5s ease, background-color 0.5s ease;
}
.reproduction_header_titler{
	font-size: 30px;
}
.reproduction_inner{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	margin-top:  15px;
}
.reproduction_inner_list{
  /*max-width: 20rem;*/
  /*padding: 1rem;
  margin-top: 1rem;*/
  padding: 20px;
  background-color: #E1EDE6;
}
.reproduction-NAME_author{
	color: #86928B;
	font-weight: 600;
	font-size: 18px;
	margin-top: 15px;
}
.reproduction_inner_list_ing{
	width: 100%;
}
.reproduction_list_link{
	color:#2C2D35;
	background-color:#C0DCC0;
	padding:10px;
	border-radius:20px;

}
.reproduction_list_link:hover{
	color: F4F6F5;
	background-color:#44944A;
	transition: color .3s ease;
	transition: background-color .3s ease;
}
.tabs_content_items{
	display: none;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
	margin-top: 15px;
}
.tabs_content_items.tabs_content_items_active{
	 display:grid;
}
.card-NAME_painting{
	color: #2C2D35;
	font-size: 30px;
	font-weight: 600;
	margin-top: 15px;
}
.card-NAME_painting_accessories{
	color: #86928B;
	font-weight: 600;
	font-size: 18px;
	margin-top: 3px;
}
.card-NAME_painting_price{
	color: #598D66;
	font-size: 24px;
	font-weight: 600;
	margin-top: 25px;
	margin-bottom: 20px;
}
.reproduction_basket{
	color: #598D66;
	font-size: 20px;
	font-weight: 600;
	border: 1px solid #598D66;
	padding: 10px 10px;
	text-align: center;
}
.man_info{
    display: flex;
    gap: 20px;
    padding-top: 50px;
    margin-bottom: 20px;
}
.man_bn{
    background-image: url(../img/pic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 574px;
    /*heigh: 100vh;*/
    margin-top: 50px;
}
.man_info_title_text{
    width: 421px;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    color: #F4F6F5;
}
.man_text{
    width: 540px;
}
.man_text_inner{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #FFFFFF;
}
.man_link{
	padding-top: 50px;
	display: flex;
	padding-bottom: 50px;
}
.man_link_text{
	background-color: #EEDB6D;
	/*width: 257px;
	height: 65px;*/
	text-align: center;
	padding: 20px 60px;
	font-size: 20px;
	font-weight: 500;
}
.team{
	margin-top: 50px;
	display: flex;
	gap: 50px;
	margin-bottom: 50px;
}
.team_descr{
	padding-top: 150px;
}
.header_team_descr{
	padding-bottom: 20px;
	font-size: 40px;
	font-weight: 500;
}
.header_team_descr_inner{
	/*width: 635px;*/
	font-size: 18px;
	font-weight: 500;
}
.team_descr_text_img{
	padding-top: 20px;
	display: flex;
	gap: 20px;
}
.bot_bg{
	background-color: #E1EDE6;
}
.bot{
	padding: 20px 0;
}
.bot_logo_img{
	margin-bottom: 40px;
}
.bot_logo_tel{
	padding-bottom: 5px;
	color: #2C2D35;
	font-size: 20px;
	font-weight: 500;
}
.bot_logo_con{
	display: flex;
	flex-direction: column;
}
.bot_logo_text{
	color: #86928B;
	font-size: 18px;
	font-weight: 500;
}
.bot_com_list_head{
	padding-bottom: 15px;
	color: #2C2D35;
	font-size: 20px;
	font-weight: 500;
}
.bot_com_list_itim{
	color: #86928B;
	padding-bottom: 15px;
	font-size: 18px;
	font-weight: 500;
}
.bot{
	display: flex;
	justify-content: space-between;

}
.bot_com{
	display: flex;
	gap: 30px;
}
.man_link_text: hover{
	background-color: #EEDB8E;
}
.bot_soc_list_itim{
	font-size: 12px;
	color: #86928B;
	padding-bottom: 15px;
	font-weight: 500;
}
.bot_soc_list{
	display: flex;
	gap: 20px;
}
.bot_soc_list_text{
	font-size: 12px;
	color: #86928B;
	padding-bottom: 10px;
	font-weight: 500;
}
@media(max-width: 950px){
	.bird_text_titer{
		font-size: 50px;
	}
}
@media(max-width: 800px){
	.team{
		display: block;
		margin-top: 20px;

	}
	.team_descr{
		padding-top: 20px;
	}
	.team_img{
		text-align: center;
	}
}
@media(max-width: 700px){
	.bot_logo_tel,
	.bot_logo_text,
	.bot_com_list_itim {
		font-size: 16px;
	}
	.bot_com_list_head{
		font-size: 18px;
	}
}
@media(max-width: 690px){
	.bird_text_titer{
		font-size: 40px;
	}
	.reproduction_inner{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media(max-width: 610px){
	.bot_com{
		gap: 10px;
	}
}
@media(max-width: 580px){
	.bot{
		display: block;
		text-align: center;
	}
	.bot_com,
	.bot_soc_list{
		display: block;
	}
}
@media(max-width: 510px){
	.main{
		display: block;
		text-align: center;
	}
	.main_logo{
		border-bottom: 1px solid #C3D1C6;
	}
	.bird_text_titer{
		font-size: 36px;
	}
	.bird_text_inner{
		font-size: 16px;
	}
	.produst_btn{
		font-size: 18px;
	}
	.reproduction_header{
		display: block;
	}
	.reproduction_header_titler{
		margin: 20px 0;
	}
}
@media(max-width: 450px){
	.menu{
		transform: translateY(-100%);
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: #fff;
		margin: 0 auto;
		padding: 40px 0 0 0;
		width: 300px;
		display: block;
		text-align: center;
		transition: transform .5s ease;
	}
	.menu_list{
		margin-bottom: 10px;	
	}
	.menu.menu_list_open{
		transform: translateY(0%);
	}
	.menu_btn{
		display: flex;
	}
	.menu_close_btn{
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.menu_close
	{
		display: block;
	}	
}
@media(max-width: 320px){
	.bird_text_title{
		font-size: 30px;
	}
	.reproduction_inner{
		grid-template-columns: repeat(1, 1fr);
	}
}
