@font-face {
  font-family: 'MyriadPro_reg';
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'), url('../fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MyriadPro_bold';
  src: url('../fonts/MyriadPro-Bold.woff2') format('woff2'), url('../fonts/MyriadPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*form colors*/
.main {
  padding-bottom: 14rem;
  padding-top: 4rem;
  background: url(../img/bg.png) center center no-repeat;
}
.registration {
  margin-top: 6rem;
}
.form {
  margin-top: 6rem;
  margin-right: 5rem;
  margin-left: 4.3rem;
}
.form_input {
  display: block;
  width: 100%;
  height: 4rem;
  margin-bottom: 1.5rem;
  border-radius: 3px;
  padding-left: 2rem;
}
.form_passwd {
  color: #a11702;
  font-face: MyriadPro_reg;
}
.form_btn {
  position: absolute;
  left: 80%;
  bottom: 1%;
  font-face: MyriadPro_reg;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px gray;
  color: #ffffff;
  height: 4.1rem;
  width: 12.8rem;
  background: url(../img/bg_btn.png);
  border: none;
}
.form_remind {
  color: #6f6d6d;
  font-face: MyriadPro_reg;
}
input {
  background: #1e1d1d;
  border: none;
}
input::-webkit-input-placeholder {
  color: #ffffff;
  font-face: MyriadPro_reg ;
  font-size: 1.6rem;
  text-shadow: 1px 1px 2px black;
}
input:-ms-input-placeholder {
  color: #ffffff;
  font-face: MyriadPro_reg ;
  font-size: 1.6rem;
  text-shadow: 1px 1px 2px black;
}
input::-ms-input-placeholder {
  color: #ffffff;
  font-face: MyriadPro_reg ;
  font-size: 1.6rem;
  text-shadow: 1px 1px 2px black;
}
input::placeholder {
  color: #ffffff;
  font-face: MyriadPro_reg ;
  font-size: 1.6rem;
  text-shadow: 1px 1px 2px black;
}
