html{
	box-sizing: border-box;
}
*,
*::after,
*::before{
	box-sizing: inherit;
}
body{
	margin: 0;
	font-family: 'Inter', sans-serif;
}
a{
	text-decoration: none;
	color: inherit;
}
h1{
	margin: 0;
}
p{
	margin: 0;	
}
button{
	padding: 0;	
	border: none;
	background-color: transparent;
	cursor: pointer;
}
ul{
	list-style: none;
	margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
section{
	background-color: #1C1E27;
	max-width: 600px;
	margin: 0 auto;
}
.container{
	max-width: 600px;
	margin: 0 auto;
	padding-left: 28px;
	padding-right: 28px;
}
.top_img{
width: 100%;
}
.title{
	padding-top: 11px;
	padding-bottom: 45px;
	font-size: 40.89px;
	font-weight: 700;
	line-height: 49px;
	letter-spacing: 0%;
	text-align: center;
	color: #3498FE;
	margin: 0;
}
.box{
	border-radius: 8px;
	background-color: #232C3B;
	box-shadow: 0px 0px 10px #3498FE;
}
.box_set{
	padding: 70px 23px 53px 23px;
	text-align: center;
}
.hello_title{
	color: #3498FE;
	font-size: 25px;
	font-weight: 700;
	line-height: 0px;
	margin-bottom: 30px;
}
.hello_text{
	color: #ABB2BA;
	font-size: 17px;
	font-weight: 400;
}
.hello_text span{
	color: #3498FE;
	font-weight: 600;
}
.box_btn{
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	border-radius: 20px;
	background-color: #3498FE;
	padding: 8px 10px; 
}
.hello_btn{
	width: 154px;
	margin-top: 50px;
}
.group{
	margin-top: 70px;
	margin-bottom: 50px;
}
.box_group{
	border-radius: 8px;
	background-color: #232C3B;
	box-shadow: 0px 0px 10px #3498FE;
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}
.box_info{
	text-align: left;
	padding-right: 10px;
	padding-top: 20px;
}
.box_text{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	padding-top: 20px;
}
.box_btn_set{
	width: 154px;
	margin-top: 20px;
}
.icons{
	margin-top: 70px;
}
.icons_list{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.icons_btn{
	text-transform: uppercase;
	width: 154px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	border: 1px solid #3498FE;
	border-radius: 8px;
	box-shadow: 0px 0px 10px #3498FE;
	padding: 7px 7px;
}
.app{
	margin-top: 70px;
	padding-bottom: 70px;
}
.app_list{
	display: flex;
	justify-content: space-between;
}
.app_set{
	padding: 16px 15px;
	margin-bottom: 17px;
}
.app_text{
	font-size: 13px;
	color: #B4CCE4;
	line-height: 25px;
}
.app_text span{
	color: #3498FE;
}
.app_img{
	width: 100%;
}
.footer{
	background-image: url(../img/footer.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 80vh;
	font-size: 17px;
	color: #ABB2BA;
}
.footer_list{
	padding-top: 230px;
	display: flex;
	justify-content: center;
	gap: 25px;
}
.item_text{
	text-align: center;
}
.footer_text{
	padding-top: 26px;
	text-align: center;
}
@media(max-width: 515px){
	.box_text{
		font-size: 14px;
	}
}
@media(max-width: 500px){
	.group{
		margin-top: 60px;
	}
	.box_set{
		padding: 70px 23px 30px 23px;
	}
	.icons_img{
		width: 100px;
	}
	.icons_btn{
		width: 120px;
		font-size: 12px;
	}
	.app_text{
		font-size: 12px;
		line-height: 20px;
	}
	.footer{
		font-size: 15px;
	}
}
@media(max-width: 465px){
	.app{
		padding-bottom: 35px;
	}
	.box_text{
		padding-top: 10px;
		font-size: 12px;
	}
	.app_set{
		padding-left: 5px;
	}
	.app_list{
		align-items: center;
	}
	.mobile_img{
		display: none;
	}
	.footer{
		font-size: 12px;
		height: 52vh;
	}
	.footer_list{
		padding-top: 135px;
	}
}
@media(max-width: 420px){
	.footer{
		height: 40vh;
	}
}
@media(max-width: 410px){
	.box_set{
		padding: 40px 15px 30px 15px;
	}
	.hello_text{
		font-size: 15px;
	}
	.box_btn{
		font-size: 12px;
		padding: 6px 0;
	}
	.box_btn_set,
	.hello_btn{
		width: 125px;
	}
	.hello_btn, {
		width: 130px;
	}
	.icons_btn{
		width: 105px;
		font-size: 10px;
		padding: 4px 0;
	}
}
@media(max-width: 370px){
	.box_img_width{
		width: 120px;
	}
	.box_info{
		padding-top: 10px;
	}
	.box_btn_set{
		width: 110px;
		margin-top: 10px;
	}
}
@media(max-width: 360px){
	.icons_img{
		width: 90px;
	}
	.icons_btn{
		width: 90px;
		font-size: 9px;
	}
}