// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
html{
	box-sizing: border-box;
}
*,
*::after,
*::before{
	box-sizing: inherit;
}
body{
	margin: 0;
	font-family: "Raleway", sans-serif;
}
a{
	text-decoration: none;
	color: inherit;
}
p{
	margin-block-start: 0;
  margin-block-end: 0;
}
button{
	padding: 0;	
	border: none;
	background-color: transparent;
}
ul{
	list-style: none;
	margin-block-start: 0;
  	margin-block-end: 0;
  	padding-inline-start: 0;
}
.container{
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
.top{
	background-color: #2B2B2B;
}
.top_inner{
	padding: 7px 0 7px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}
.top_inner_pos{
	display: flex;
}
.top_inner_pos_img{
	margin-right: 10px;
}
.top_inner_text{
	font-size: 12px;
	line-height: 16px;
}
.top_inner_text_mod{
	margin-right: 20px;
}
.top_menu{
	margin-top: 30px;
}
.top_menu_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top_menu_func{
	display: flex;
	align-items: center;
}
.top_menu_logo{
	margin-right: 20px;
}
.category_btn{
	font-size: 16px;
	font-weight: 600;
	color: #1B1B1B;
	padding: 10px 30px;
	border: 2px solid #1B1B1B;
	border-radius: 10px;
	margin-right: 20px;
}
.top_menu_list{
	display: flex;
	align-items: center;
	gap: 20px;
}
.top_menu_input{
	border: none;
	border-radius: 10px;
	width: 400px;
	height: 41px;
	background: #F5F5F5 url(../img/search.svg) no-repeat 9px center;
	margin-right: 20px;
	padding-left: 30px;
	font-size: 16px;
	color: #808080;
}
.announcement_btn{
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	padding: 10px 45px;
	border-radius: 10px;
	background-color: #FF691D	;
}
.category1{
	margin-top: 50px;	
}
.category1_inner{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;	
}
.category1_inner_list{
	background-color: #A467FF;
	border: none;
	border-radius: 10px;
}
.category1_inner_list:hover{
	background-color: #9A62EF;
	transition: .3s ease;
}
.category1_link{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
	color: #fff;
}
.category2{
	margin-top: 25px;
}
.category2_inner{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 20px;
}
.category2_inner_list{
	display: flex;
	justify-content: space-between;
}
.category2_link{
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
}
.category2_link:hover{
	color: #FF0000;
	transition: .3s ease;
}
.recomendation{
	margin-top: 50px;
}
.recomendation_title{
	font-size: 22px;
	font-weight: 600;
	line-height: 16px;
}
.recomendation_inner{
	margin-top: 25px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}
.recomendation_img{
	width: 100%;
}
.recomendation_inner_list_img{
	position: relative;
}
.img_fav{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 4;
}
.recomendation_inner_list_text{
	background-color: #F9F9F9;
	padding: 15px 10px;
	margin-top: -4px;
}
.recomendation_inner_list_text:hover{
	background-color: #A467FF;
	transition: .3s ease;
}
.recomendation_inner_list_text:hover a{
	color: #fff;
	transition: .3s ease;
}
.recomendation_inner_list_text:hover .recomendation_inner_descr{
	color: #F9F9F9;
	transition: .3s ease;
}
.recomendation_inner_list_text:hover .recomendation_inner_address{
	color: #D3B9FB;
	transition: .3s ease;
}
.recomendation_link_text{
	font-size: 22px;
	line-height: 28px;
	font-weight: 800;
	color: #1E1E1E;
}
.recomendation_inner_descr,
.recomendation_inner_address{
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	margin-top: 2px;
}
.recomendation_inner_descr{
	color: #1E1E1E;
}
.recomendation_inner_address{
	color: #929292;
}
.recomendation_more_link{
	background-color: #1B1B1B;
	border-radius: 10px;
	margin-top: 50px;
	padding: 15px 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
	color: #fff;
	width: 100%;
	display: flex;
	justify-content: center;
}
.recomendation_more_link:hover{
	color: #f9f9f9;
	transition: .3s ease;
}
.recomendation_adv{
	background-color: #7019e7;
	border-radius: 10px;
	margin-top: 60px;
	padding-left: 10px;
	padding-bottom: 15px;
}
.recomendation_adv_text{
	font-size: 64px;
	line-height: 16px;
	font-weight: 600;
	color: #fff;
	padding-top: 65px;
	text-align: center;
}
.recomendation_adv_btn{
	background-color: #f9f9f9;
	border-radius: 10px;
	font-size: 18px;
	line-height: 16px;
	font-weight: 600;
	padding: 15px 0;
	width: 150px;
	text-align: center;
	color: #c3c3c3;
	display: block;
}
.recomendation_adv_btn:hover{
	color: #000;
	transition: .3s ease;
}
.recomendation_service_inner{
	margin-top: 25px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.recomendation_service_inner_list{
	border-radius: 10px;
	background-color: #f9f9f9;
	display: flex;
	gap: 25px;
	padding: 25px 25px 35px 25px;
}
.recomendation_service_inner_list:hover{
	background-color: #A467FF;
	transition: .3s ease;
}
.recomendation_service_inner_list:hover .recomnedation_service_inner_list_descr_title_text{
	color: #fff;
	transition: .3s ease;
}
.recomendation_service_inner_list:hover .recomnedation_service_inner_list_descr_city{
	color: #fff;
	transition: .3s ease;
}
.recomendation_service_inner_list:hover .recomnedation_service_inner_list_descr_text{
	color: #fff;
	transition: .3s ease;
}
.recomendation_service_inner_list:hover .recomnedation_service_inner_list_descr_price_text{
	color: #fff;
	transition: .3s ease;
}
.recomendation_service_inner_list:hover .recomnedation_service_inner_list_descr_price_text span{
	color: #fff;
	transition: .3s ease;
}
.recomendation_service_inner_list_cover_mark{
	display: flex;
	gap: 10px;
	margin-top: 11px;
}
.recomendation_service_inner_mark_text{
	font-size: 21px;
	line-height: 28px;
	font-weight: 800;
}
.recomendation_service_inner_mark_total{
	font-size: 11px;
	line-height: 17px;
	font-weight: 600;
	color: #ff691d;
}
.recomnedation_service_inner_list_descr_title{
	display: flex;
	justify-content: space-between;
}
.recomnedation_service_inner_list_descr_title_text{
	width: 260px;
	font-size: 22px;
	line-height: 28px;
	font-weight: 800;
}
.recomnedation_service_inner_list_descr_title_visit,
.recomnedation_service_inner_list_descr_city,
.recomnedation_service_inner_list_descr_text{
	font-size: 11px;
	line-height: 20px;
	font-weight: 600;
}
.recomnedation_service_inner_list_descr_title_visit{
	color: #CACACA;
	text-align: right;
}
.recomnedation_service_inner_list_descr_city{
	color: #ff691d;
	margin-top: 10px;
}
.recomnedation_service_inner_list_descr_text{
	margin-top: 10px;
}
.recomnedation_service_inner_list_more_link{
	font-size: 12px;
	font-weight: 600;
	line-height: 19px;
	color: #7018e6;
}
.recomnedation_service_inner_list_descr_price_text{
	font-size: 13px;
	font-weight: 800;
	line-height: 20px;
	color: #7926e7;
	margin-top: 30px;
}
.recomnedation_service_inner_list_descr_price_text span{
	color: #000;
}
.recomnedation_service_inner_list_descr_messanger{
	display: flex;
}
.recomandation_service_messanger_btn{
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 9px 10px;
	font-size: 12px;
	font-weight: 800;
	line-height: 20px;
	display: flex;
	gap: 10px;
	margin-top: 30px;
	margin-right: 20px;
}
.recomnedation_job_inner{
	margin-top: 25px;
	margin-bottom: 140px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.recomnedation_job_inner_list{
	border-radius: 10px;
	background-color: #f9f9f9;
	padding: 25px 25px 35px 25px;
}
.recomnedation_job_inner_list:hover{
	background-color: #7018e6;
	transition: .3s ease;
}
.recomnedation_job_inner_list:hover .recomnedation_job_inner_list_title{
	color: #fff;
}
.recomnedation_job_inner_list:hover .recomendation_job_inner_list_salary{
	color: #fff;
}
.recomnedation_job_inner_list:hover .recomnedation_job_inner_list_compamny_name{
	color: #fff;
}
.recomnedation_job_inner_list:hover .recomendation_job_inner_list_city{
	color: #fff;
}
.recomnedation_job_inner_list:hover .recomendation_job_inner_list_city{
	color: #fff;
}
.recomnedation_job_inner_list:hover .recomendation_job_inner_list_text{
	color: #fff;
}
.recomnedation_job_inner_list:hover .recomendation_job_btn_contact{
	/*color: #fff;*/
}
.recomnedation_job_inner_list:hover .recomendation_job_btn_contact{
	/*color: #fff;*/
	border: 1px solid #fff;
}
.recomnedation_job_inner_list_title{
	color: #7018E6;
	font-size: 18px;
	line-height: 20px;
	font-weight: 800;
}
.recomendation_job_inner_list_salary{
	color: #2A3137;
	font-size: 24px;
	line-height: 28px;
	margin-top: 5px; 
}
.recomnedation_job_inner_list_compamny{
	display: flex;
	margin-top: 20px;
	align-items: center;
}
.recomnedation_job_inner_list_compamny_name{
	color: #2A3137;
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	margin-right: 20px;
}
.recomendation_job_inner_list_city{
	color: #2A3137;
	font-size: 14px;
	line-height: 20px;
	font-weight: 200;
}
.recomnedation_job_inner_list_skill{
	display: flex;
	margin-top: 20px;
}
.recomendation_job_inner_list_text{
	color: #2A3137;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	margin-left: 10px;
}
.recomendation_job_inner_list_link{
	display: flex;
	margin-top: 20px;
}
.recomendation_job_btn_response{
	font-size: 14px;
	color: #fff;
	background-color: #ff691d;
	border-radius: 10px;
	padding: 10px 10px;
	margin-right: 20px;
}
.recomendation_job_btn_response:hover{
	color: #E5E5E5;
	transition: .3s ese;
	background-color: #e55e1b;
}
.recomendation_job_btn_contact{
	font-size: 14px;
	font-weight: 600;
	padding: 10px 32px;
	border: 1px solid #000;
	border-radius: 10px;
}
.recomendation_job_btn_contact:hover{
	background-color: #E5E5E5;
	color: #000;
}
.footer{
	background-color: #242729;
}
.footer_info{
	padding: 30px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer_info_mod{
	border-bottom: 1px solid #3D3F41;
}
.footer_info_inner{
	display: flex;
	gap: 50px;
	color: #848587;
}
.footer_info_list_item{
	padding-bottom: 5px;
}
.footer_info_link{
	color: #848587;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
}
.footer_info_link:hover{
	color: #CCCED1;
	transition: .3s ease;
}
.footer_info_payment{
	display: flex;
	gap: 25px;
}