// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
html{
	box-sizing: border-box;
}
*,
*::after,
*::before{
	box-sizing: inherit;
}
body{
	margin: 0;
	font-family: "Raleway", sans-serif;
}
a{
	text-decoration: none;
	color: inherit;
}
label{
	cursor: pointer;
}
p{
	margin-block-start: 0;
  margin-block-end: 0;
}
h1, h2, h3{
	margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
button{
	padding: 0;	
	border: none;
	background-color: transparent;
}
ul{
	list-style: none;
	margin-block-start: 0;
  	margin-block-end: 0;
  	padding-inline-start: 0;
}
.container{
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
.top{
	background-color: #2B2B2B;
}
.top_inner{
	padding: 7px 0 7px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}
.top_inner_pos{
	display: flex;
}
.top_inner_pos_img{
	margin-right: 10px;
}
.top_inner_text{
	font-size: 12px;
	line-height: 16px;
}
.top_inner_text_mod{
	margin-right: 20px;
}
.top_menu{
	margin-top: 30px;
}
.top_menu_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top_menu_func{
	display: flex;
	align-items: center;
}
.top_menu_logo{
	margin-right: 20px;
}
.category_btn{
	font-size: 16px;
	font-weight: 600;
	color: #1B1B1B;
	padding: 10px 30px;
	border: 2px solid #1B1B1B;
	border-radius: 10px;
	margin-right: 20px;
}
.top_menu_list{
	display: flex;
	align-items: center;
	gap: 20px;
}
.top_menu_input{
	border: none;
	border-radius: 10px;
	width: 400px;
	height: 41px;
	background: #F5F5F5 url(../img/search.svg) no-repeat 9px center;
	margin-right: 20px;
	padding-left: 30px;
	font-size: 16px;
	color: #808080;
}
.announcement_btn{
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	padding: 10px 45px;
	border-radius: 10px;
	background-color: #FF691D;
}
.announcement_btn:hover{
	color: #E5E5E5;
	transition: .3s ease;
	background-color: #e55e1b;
}
.category1{
	margin-top: 50px;	
}
.category1_inner{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;	
}
.category1_inner_list{
	background-color: #A467FF;
	border: none;
	border-radius: 10px;
}
.category1_inner_list:hover{
	background-color: #9A62EF;
	transition: .3s ease;
}
.category1_link{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
	color: #fff;
}
.category2{
	margin-top: 25px;
}
.category2_inner{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 20px;
}
.category2_inner_list{
	display: flex;
	justify-content: space-between;
	padding: 9px;
	background-color: #F9F9F9;
	border-radius: 10px;
}
.category2_link{
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
}
.category2_link:hover{
	color: #FF0000;
	transition: .3s ease;
}
.recomendation{
	margin-top: 50px;
}
.recomendation_title{
	font-size: 22px;
	font-weight: 600;
	line-height: 16px;
}
.recomendation_inner{
	margin-top: 25px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}
.recomendation_img{
	width: 100%;
}
.recomendation_inner_list_img{
	position: relative;
}
.img_fav{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 4;
}
.recomendation_inner_list_text{
	background-color: #F9F9F9;
	padding: 15px 10px;
	margin-top: -4px;
}
.recomendation_inner_list_text:hover{
	background-color: #A467FF;
	transition: .3s ease;
}
.recomendation_inner_list_text:hover a{
	color: #fff;
	transition: .3s ease;
}
.recomendation_inner_list_text:hover .recomendation_inner_descr{
	color: #F9F9F9;
	transition: .3s ease;
}
.recomendation_inner_list_text:hover .recomendation_inner_address{
	color: #D3B9FB;
	transition: .3s ease;
}
.recomendation_link_text{
	font-size: 22px;
	line-height: 28px;
	font-weight: 800;
	color: #1E1E1E;
}
.recomendation_inner_descr,
.recomendation_inner_address{
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	margin-top: 2px;
}
.recomendation_inner_descr{
	color: #1E1E1E;
}
.recomendation_inner_address{
	color: #929292;
}
.recomendation_more_link{
	background-color: #1B1B1B;
	border-radius: 10px;
	margin-top: 50px;
	padding: 15px 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
	color: #fff;
	width: 100%;
	display: flex;
	justify-content: center;
}
.recomendation_more_link:hover{
	color: #f9f9f9;
	transition: .3s ease;
}
.recomendation_adv{
	background-color: #7019e7;
	border-radius: 10px;
	margin-top: 60px;
	padding-left: 10px;
	padding-bottom: 15px;
}
.recomendation_adv_text{
	font-size: 64px;
	line-height: 16px;
	font-weight: 600;
	color: #fff;
	padding-top: 65px;
	text-align: center;
}
.recomendation_adv_btn{
	background-color: #f9f9f9;
	border-radius: 10px;
	font-size: 18px;
	line-height: 16px;
	font-weight: 600;
	padding: 15px 0;
	width: 150px;
	text-align: center;
	color: #c3c3c3;
	display: block;
}
.recomendation_adv_btn:hover{
	color: #000;
	transition: .3s ease;
}
.recomendation_service_inner{
	margin-top: 25px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.recomendation_service_inner_list{
	border-radius: 10px;
	background-color: #f9f9f9;
	display: flex;
	gap: 25px;
	padding: 25px 25px 35px 25px;
}
.recomendation_service_inner_list:hover{
	background-color: #A467FF;
	transition: .3s ease;
}
.recomendation_service_inner_list:hover .recomnedation_service_inner_list_descr_title_text{
	color: #fff;
	transition: .3s ease;
}
.recomendation_service_inner_list:hover .recomnedation_service_inner_list_descr_city{
	color: #fff;
	transition: .3s ease;
}
.recomendation_service_inner_list:hover .recomnedation_service_inner_list_descr_text{
	color: #fff;
	transition: .3s ease;
}
.recomendation_service_inner_list:hover .recomnedation_service_inner_list_descr_price_text{
	color: #fff;
	transition: .3s ease;
}
.recomendation_service_inner_list:hover .recomnedation_service_inner_list_descr_price_text span{
	color: #fff;
	transition: .3s ease;
}
.recomendation_service_inner_list_cover_mark{
	display: flex;
	gap: 10px;
	margin-top: 11px;
}
.recomendation_service_inner_mark_text{
	font-size: 21px;
	line-height: 28px;
	font-weight: 800;
}
.recomendation_service_inner_mark_total{
	font-size: 11px;
	line-height: 17px;
	font-weight: 600;
	color: #ff691d;
}
.recomnedation_service_inner_list_descr_title{
	display: flex;
	justify-content: space-between;
}
.recomnedation_service_inner_list_descr_title_text{
	width: 260px;
	font-size: 22px;
	line-height: 28px;
	font-weight: 800;
}
.recomnedation_service_inner_list_descr_title_visit,
.recomnedation_service_inner_list_descr_city,
.recomnedation_service_inner_list_descr_text{
	font-size: 11px;
	line-height: 20px;
	font-weight: 600;
}
.recomnedation_service_inner_list_descr_title_visit{
	color: #CACACA;
	text-align: right;
}
.recomnedation_service_inner_list_descr_city{
	color: #ff691d;
	margin-top: 10px;
}
.recomnedation_service_inner_list_descr_text{
	margin-top: 10px;
}
.recomnedation_service_inner_list_more_link{
	font-size: 12px;
	font-weight: 600;
	line-height: 19px;
	color: #7018e6;
}
.recomnedation_service_inner_list_descr_price_text{
	font-size: 13px;
	font-weight: 800;
	line-height: 20px;
	color: #7926e7;
	margin-top: 30px;
}
.recomnedation_service_inner_list_descr_price_text span{
	color: #000;
}
.recomnedation_service_inner_list_descr_messanger{
	display: flex;
}
.recomandation_service_messanger_btn{
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 9px 10px;
	font-size: 12px;
	font-weight: 800;
	line-height: 20px;
	display: flex;
	gap: 10px;
	margin-top: 30px;
	margin-right: 20px;
}
.recomnedation_job_inner{
	margin-top: 25px;
	margin-bottom: 140px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.recomnedation_job_inner_list{
	border-radius: 10px;
	background-color: #f9f9f9;
	padding: 25px 25px 35px 25px;
}
.recomnedation_job_inner_list:hover{
	background-color: #7018e6;
	transition: .3s ease;
}
.recomnedation_job_inner_list:hover .recomnedation_job_inner_list_title{
	color: #fff;
}
.recomnedation_job_inner_list:hover .recomendation_job_inner_list_salary{
	color: #fff;
}
.recomnedation_job_inner_list:hover .recomnedation_job_inner_list_compamny_name{
	color: #fff;
}
.recomnedation_job_inner_list:hover .recomendation_job_inner_list_city{
	color: #fff;
}
.recomnedation_job_inner_list:hover .recomendation_job_inner_list_city{
	color: #fff;
}
.recomnedation_job_inner_list:hover .recomendation_job_inner_list_text{
	color: #fff;
}
.recomnedation_job_inner_list:hover .recomendation_job_btn_contact{
	/*color: #fff;*/
}
.recomnedation_job_inner_list:hover .recomendation_job_btn_contact{
	/*color: #fff;*/
	border: 1px solid #fff;
}
.recomnedation_job_inner_list_title{
	color: #7018E6;
	font-size: 18px;
	line-height: 20px;
	font-weight: 800;
}
.recomendation_job_inner_list_salary{
	color: #2A3137;
	font-size: 24px;
	line-height: 28px;
	margin-top: 5px; 
}
.recomnedation_job_inner_list_compamny{
	display: flex;
	margin-top: 20px;
	align-items: center;
}
.recomnedation_job_inner_list_compamny_name{
	color: #2A3137;
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	margin-right: 20px;
}
.recomendation_job_inner_list_city{
	color: #2A3137;
	font-size: 14px;
	line-height: 20px;
	font-weight: 200;
}
.recomnedation_job_inner_list_skill{
	display: flex;
	margin-top: 20px;
}
.recomendation_job_inner_list_text{
	color: #2A3137;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	margin-left: 10px;
}
.recomendation_job_inner_list_link{
	display: flex;
	margin-top: 20px;
}
.recomendation_job_btn_response{
	font-size: 14px;
	color: #fff;
	background-color: #ff691d;
	border-radius: 10px;
	padding: 10px 10px;
	margin-right: 20px;
}
.recomendation_job_btn_response:hover{
	color: #E5E5E5;
	transition: .3s ease;
	background-color: #e55e1b;
}
.recomendation_job_btn_contact{
	font-size: 14px;
	font-weight: 600;
	padding: 10px 32px;
	border: 1px solid #000;
	border-radius: 10px;
}
.recomendation_job_btn_contact:hover{
	background-color: #E5E5E5;
	color: #000;
	transition: .3s ease;
}
.footer{
	background-color: #242729;
}
.footer_info{
	padding: 30px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer_info_mod{
	border-bottom: 1px solid #3D3F41;
}
.footer_info_inner{
	display: flex;
	gap: 50px;
	color: #848587;
}
.footer_info_list_item{
	padding-bottom: 5px;
}
.footer_info_link{
	color: #848587;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
}
.footer_info_link:hover{
	color: #CCCED1;
	transition: .3s ease;
}
.footer_info_payment{
	display: flex;
	gap: 25px;
}
/*----------------------ADVERT-----------------------------------------*/
.path{
	margin-top: 50px;
}
.path_inner_list{
	display: flex;
	gap: 10px;
}
.path_inner_list_item{
	font-size: 12px;
	font-weight: 200;
}
.path_link:hover{
	font-weight: 400;
}
.product_inner{
	margin-top: 30px;
	display: flex;
	gap: 30px;
}
.product_descr_title{
	font-size: 27px;
	font-weight: 800;
}
.fotorama{
	margin-top: 30px;
}
.product_inner_price{
	width: 100%;
}
.product_inner_price_box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.product_inner_price_box_price_text{
	font-size: 32px;
	font-weight: 800;
}
.product_inner_price_box_favorite{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.product_inner_price_box_availability{
	font-size: 14px;
	margin-top: 14px;
}
.product_inner_price_box_availability span{
	color: #02D15C;
}
.product_inner_price_box_seller{
	font-size: 12px;
	font-weight: 600;
	margin-top: 10px;
	padding: 7px 40px;
	background-color: #CCECFF;
	border-radius: 10px;
	display: inline-block;
}
.product_inner_price_box_seller:hover{
	background-color: #C4E1F2;
	transition: .3s ease;
}
.product_inner_price_box_game{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}
.product_inner_price_box_game_text{
	font-size: 24px;
	text-transform: uppercase;
}
.product_inner_price_box_favorite-rate{
	display: flex;
	gap: 10px;
	margin-top: 7px;
}
.product_inner_price_box_favorite_opinion_link{
	font-size: 14px;
}
.product_inner_price_box_favorite_opinion_link, 
.product_inner_price_box_company_link:hover{
	font-weight: 600;
}
.product_inner_price_box_company_link{
	margin-top: 7px;
	font-size: 14px;
	display: inline-block;
}
.product_inner_price_box_ask{
	display: flex;
	align-items: center;
	margin-top: 20px;
	position: relative;
}
.product_inner_price_box_ask_text{
	font-size: 20px;
	font-weight: 600;	
}
.ask_switch{
	position: absolute;
	right: 0;
}
.ask_switch_chb{
	position: relative;
	width: 60px;
	height: 30px;
	-webkit-appearance:none;
	outline: none;
	background: red;
	border-radius: 10px;
	transition: .5s;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}
input:checked[type="checkbox"]{
		background: #D9D9D9;
}
input[type="checkbox"]:before{
	content: '';
	position: absolute;	
	width: 30px;	
	height: 30px;	
	border-radius: 10px;
	top: 0;
	left: 0;
	background: #A467FF;
	transition: .5s;
	transform: scale(1.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
input:checked[type="checkbox"]:before{
	left: 30px;
}
.product_inner_price_box_chat{
	width: 100%;
	height: 130px;
	margin-top: 20px;
	background-color: #f2f1f0;
	border-radius: 10px;
}
.product_inner_price_box_chat_btn,
.product_inner_price_box_message_btn{
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	padding: 14px 0;
	margin-top: 10px;
	width: 100%;
	display: block;
}
.product_inner_price_box_message_btn{
	background-color: #21D771;
}
.product_inner_price_box_message_btn:hover{
	background-color: #1EBC62;
	transition: .3s ease;
}
.product_inner_price_box_chat_btn{
	background-color: #7018E6;
}
.product_inner_price_box_chat_btn:hover{
	background-color: #6216CC;
	transition: .3s ease;
}
.characteristic_inner{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 80px;
	margin-top: 10px;
}
.characteristic_inner_descr_title{
	padding-top: 60px;
	font-size: 22px;
	font-weight: 800;
}
.characteristic_inner_descr_address_text{
	font-size: 16px;
	font-weight: 600;
	margin-top: 15px;
}
.characteristic_link{
	font-weight: 400;	
	color: #009CF0;
	margin-left: 20px;
}
.characteristic_link:hover{
	font-weight: 600;
	color: #1E95CC;
	transition: .3s ease;
}

.characteristic_inner_descr_box{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.characteristic_inner_descr_box_list_item{
	font-size: 16px;
	color: #757575;
}
.characteristic_inner_descr_box_list_item span{
	color: #000;
}
.characteristic_inner_descr_link{
	color: #009CF0
}
.characteristic_inner_descr_link:hover{
	font-weight: 600;
	color: #1E95CC;
	transition: .3s ease;
}
.characteristic_section_title{
	padding-top: 20px;
	font-size: 22px;
	font-weight: 800;
}
.characteristic_section_text{
	font-size: 16px;
	font-weight: 600;
	line-height: 25px;
	padding-top: 30px;
}
/*----------------------end ADVERT-----------------------------------------*/
/*----------------------SEARCH--------------------------------------------*/
.orange{
	margin-top: 35px;
}
.orange_box{
	background-color: #FF691D;
	border-radius: 20px;
	height: 160px;
}
.search_config{
	margin-top: 35px;
	display: grid;
	grid-template-columns: 250px	auto;
	gap: 80px;
}
.search_config_box{
	width: 250px;
}
.search_config_box_inner{
	padding: 35px 0;
	border-bottom: 1px solid #636363;
}
.search_config_box_title{
	font-size: 16px;
	font-weight: 800;
}
.search_config_box_option{
	margin-top: 23px;
}
.search_config_box_option_mod{
	margin-top: 2px;
}
.price_range_descr{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.input_box{
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}
.input_box_mod{
	display: flex;
	justify-content: space-between;
}
.input_box_check{
	font-size: 16px;
}
.input_box_text{
	font-size: 16px;
	font-weight: 600;
	color: #636363;
}
.custom_radio{
	display: inline-block;
	height: 15px;
	width: 15px;
	background-color: #fff;
	border: 2px solid #FF691D;
	border-radius: 50%;
	margin-right: 5px;
	vertical-align: text-top;
	position: relative;
}
.custom_radio::before{
	content: '';
	display: inline-block;
	width: 7px;
	height: 7px;
	background-color: #ff691d;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 0.2s ease-in;
}
.real_radio:checked+.custom_radio::before{
	transform: translate(-50%, -50%) scale(1);
}
.real_radio{
	width: 0;
	height: 0;
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.custom_checkbox{
	display: inline-block;
	position: relative;
	vertical-align: text-top;
	width: 16px;
	height: 16px;
	border-radius: 3px;
	border: 2px solid #FF691D;
	background-color: #fff;
	margin-right: 5px;
}
.real_checkbox:checked+.custom_checkbox{
	background-color: #ff691d;
	background-image: url(../img/chb_btn.svg);
	background-repeat: no-repeat;
	background-position: center center;
	transition: .2s ease-in;
}
.real_checkbox{
	width: 0;
	height: 0;
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.input_box_link{
	color: #FF691D;
	font-size: 16px;
	font-weight: 800;
	text-decoration: underline;
}
.search_form{
	width: 100%;
}
.search_form_input{
	border: none;
	border-radius: 10px;
	width: 100%;
	height: 41px;
	background: #F5F5F5 url(../img/search.svg) no-repeat 9px center;
	padding-left: 30px;
	font-size: 16px;
	color: #808080;
	display: flex;
}
.filter_price_box{
	margin-bottom: 25px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.filter_price_inputs{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.filter_price_label{
display: flex;
align-items: center;
width: 120px;
height: 40px;
border: 1px solid #636363;
border-radius: 10px;
}
.filter_price_text{
	color: #636363;
	font-size: 16px;
}
.filter_price_text:first-child{
	margin-right: 6px;
	margin-left: 6px;
}
.filter_price_text:last-child{
	margin-right: 6px;
	margin-left: 6px;
}
.filter_price_input{
	border: none;
	color: #636363;
	font-size: 16px;
}
.noUi-target{
	background-color: #E4DFDF;
	bottom: none;
	border-radius: 10px;
	box-shadow: none;
	height: 2px;
}
.noUi-connect{
	background-color: #FF691D;
}
.noUi-handle::after,
.noUi-handle::before{
	display: none;
}
.noUi-handle{
	box-shadow: none;
	border-radius: 100%;
	background-color: #FF691D;
}
.noUi-horizontal .noUi-handle{
	width: 20px;
	height: 20px;
	top: -10px;	
}
.search_result_box{
	display: grid;
	grid-template-columns: 47% auto auto auto;
	gap: 10px;
}
.search_result_config{
	
}
.search_result_keyword{
	border: none;
	border-radius: 10px;
	width: 100%;
	height: 41px;
	background: #F5F5F5 url(../img/search.svg) no-repeat 9px center;
	padding-left: 30px;
	font-size: 16px;
	color: #808080;
	display: flex;
}
.dropdown{
	position: relative;
}
.select{
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 10px;
	border: 1px solid #B1B1B1;
	border-radius: 5px;
}
.selected{
	color: #b1b1b1;
	font-size: 16px;
	font-weight: 600;
}
.select-clicked{
	box-shadow: 0 0 3px #000;
}
.caret{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid #B1B1B1;
	transition: .3s;
}
.caret-rotate{
	transform: rotate(180deg);
}
.select_menu{
	border: 1px solid #B1B1B1;
	color: #000;
	position: absolute;
	width: 100%;
	opacity: 0;
	display: none;
	transition: .3s;
	z-index: 1;
	padding: 0 10px;
}
.menu_list_text{
	font-size: 15px;
	border-bottom: 1px solid #B1B1B1;
	cursor: pointer;
	padding: 7px 0; 
}
.menu_list:last-child .menu_list_text{
	border: none;
}
.menu_list:hover{
	font-weight: 600;
	background-color: #F4F4F4;
	transition: .2s ease;
}
.menu_list_open{
	background-color: #fff;
	display: block;
	opacity: 1;
	transition: display .9s ease;
}
.search_apply_btn{
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	padding: 11px 0;
	width: 100%;
	background-color: #7318e1;
	border-radius: 5px;
	cursor: pointer;
}
.search_apply_btn:hover{
	color: #b1b1b1;
	transition: .3s ease;
}
/*----------------------end SEARCH---------------------------------------*/