@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans.woff2') format('woff2'),
        url('NotoSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RoadRadio';
    src: url('../fonts/RoadRadio.woff2') format('woff2'),
        url('RoadRadio.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html{
	box-sizing: border-box;
}
*,
*::after,
*::before{
	box-sizing: inherit;
}
body{
	margin: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
ul{
	list-style: none;
	margin-block-start: 0;
  	margin-block-end: 0;
  	padding-inline-start: 0;
}
h1, h2, h3, h4, p{
	margin-block-start: 0;
  margin-block-end: 0;
}
button{
	padding: 0;	
	border: none;
	background-color: transparent;
}
.common_text{
	font-family: Arial;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	color: #828A99;
}
.common_title{
	font-family: RoadRadio;
	font-size: 45px;
	font-weight: 400;
	line-height: 45.4px;
	color: #000;
	text-transform: uppercase;
}
.container{
	max-width: 1040px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.header_line{
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background: linear-gradient(0.00deg, rgb(0, 129, 197),rgb(2, 87, 147) 100%);
}
.top{
	height: 35px;
}
.bottom{
	height: 46px;
}
.header_line_list{
	display: flex;
	justify-content: center;
	gap: 14px;
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
}
.header_line_list_item{
	width: 88px;
	border: 1px solid #fff;
	border-radius: 15px 0 15px 0;
	margin: 4px 0 4px 0;
	padding: 6.5px 0 6.5px 0;
}
.header_line_link:hover{
	color: #828A99;
}
.header_inner{
	margin: 10px 0;
	display: flex;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
}
.header_inner_phone{
	font-family: Arial;
	font-weight: 700;
	color: #337AB7;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
}
.contact_img{
	display: none;
}
.header_inner_contact{
	display: flex;
	gap: 30px;
	font-family: Arial;
	font-weight: 400;
	color: #fff;
	font-size: 15px;
	line-height: 40px;
}
.header_inner_contact_link{
	border-radius: 20px;
	background-color: #0082C6;
	padding: 0 30px;
}
.header_inner_contact_link:hover{
	color: #828A99;
}
.header_inner_lang{
	display: flex;
	gap: 5px;
}
.header_inner_src{
	display: block;
	height: 100%;
}
.header_lang_list{
	font-family: Arial;
	font-weight: 400;
	color: #0082C6;
	font-size: 12px;
	line-height: 18px;
	background-color: #EEEEED;
	padding: 3px 10px;
}
.header_lang_list:hover{
	color: #fff;
	background-color: #0082C6;
}
.header_line-bottom{
	padding: 16px 0;
}
.menu_btn{
	display: none;
	width: 32px;
	height: 25px;
	flex-direction: column;
	justify-content: space-between;
}
.menu_close{
	display: none;
}
.menu_btn span{
	background-color: #fff;
	height: 5px;
	width: 100%;
	border-radius: 2px;
}
.header_line-bottom_list{
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-family: RoadRadio;
	color: #FEFFFF;
	font-weight: 400;
	font-size: 14px;
	line-height: 14.13px;
	text-transform: uppercase;
}
.header_line-bottom_link:hover{
	color: #828A99;
}
.main{
	background-image:  linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	height: 100vh;
	opacity: ;
	min-height: 730px;
	padding-top: 85px;
}
.main_line{
	border-top: 3px solid #21A1E4;
	width: 105px;
}
.main_title{
	font-family: RoadRadio;
	font-size: 55px;
	font-weight: 400;
	line-height: 70px;
	padding-top: 15px;
}
.main_text{
	width: 850px;
	padding-top: 10px;
	color: #fff;
}
.main_link{
	margin-top: 27px;
}
.main_link_btn{
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	font-weight: 700;
	line-height: 18px;
	padding: 12px 45px;
	border-radius: 30px;
	background-color: #0082C6;
}
.advantage{
	margin-top: 89px;
}
.advantage_list{
	height: 131px;
	display: flex;
	justify-content: space-between;
	border: 2px solid #EBEBF099;
	border-radius: 20px 20px 0 0;
	font-family: Arial;
	font-size: 16px;
	font-weight: 400;
	line-height: 18.4px;
	color: #fff;
}
.advantage_list_item{
	padding: 21px 0 0 22px;
	border-left: 2px solid #EBEBF099;
}
.advantage_list_item_mod{
	padding: 21px 0 0 22px;
}
.advantage_text{
	padding-top: 12px;
	width: 162px;
}
.plan{
	padding-top: 65px;
}
.plan_step{
	margin-top: 35px;
}
.plan_title{
	padding-top: 23px;
}
.step_list{
	display: flex;
	justify-content: space-between;
}
.step_list_item{
	max-width: 248px;
}
.plan_step_inner{
	position: relative;
	grid-column: 1/2;
	display: flex;
	align-items: center;
	width: 100%;
}
.plan_step_inner::after{
	content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 150px;
  height: 1px;
  background-color: #EBEBF0;
}
.step_number{
	margin-right: 15px;
	font-family: Inter;
	font-size: 48px;
	font-weight: 400;
	line-height: 57.6px;
	color: #0082C6;
}
.common_subtitle{
	font-family: Inter;
	font-size: 28px;
	font-weight: 400;
	line-height: 33.6px;
	color: #292D33;
}
.plan_step_title{
	margin-top: 30px;
	}
.plan_step_text{
	margin-top: 10px;
}
.request_inner{
	position: relative;
	grid-column: 1/2;
	display: flex;
	align-items: center;
	width: 100%;
}
.request{
	margin-top: 15px;
}
.request_inner::after{
	content: "";
  top: 50%;
  transform: translateY(-50%);
	position: absolute;
  left: 0;
  width: 40px;
  height: 1px;
  background-color: #0082C6;
}
.request_link{
	margin-left: 60px;
	font-family: Noto Sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 25.6px;
	color: #0082C6;
}
.work{
	padding-top: 65px;
}
.work_title{
	margin-top: 15px;
}
.activity_list{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.activity_list_item{
	border: 1px solid #EBEBF0;
	padding: 20px 20px 0 20px;
	max-width: 500px;
}
.activity_list_item:hover{
	border: 1px solid #0082C6;
}
.work_step_text{
	padding-top: 15px;
}
.work_step_title:hover{
	color: #0082C6;
}
.work_img{
	width: 100%;
}
.partner{
	padding-top: 65px;	
}
.partner_title{
	padding-top: 18px;	
}
.partner_list{
	padding-top: 35px;	
}
.partner_list_item{
	display: flex;
	align-items: center;
}
.partner_info{
	margin-left: 15px;
}
.blog{
padding-top: 65px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    content: none;
}
.container_arrow{
	padding-top: 65px;
	position: relative;
}
.blog_slider{
	margin-top: 35px;
}
.blog_link{
	position: absolute;
  top: 15px;
}
.blog_link_inner{
	position: relative;
	grid-column: 1/2;
	display: flex;
	align-items: center;
	width: 100%;
}
.blog_link_inner::after{
	content: "";
  top: 50%;
  transform: translateY(-50%);
	position: absolute;
  left: 0;
  width: 40px;
  height: 1px;
  background-color: #0082C6;
}
.blog_link_text{
	margin-left: 60px;
	font-family: Noto Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
  color: #0082C6;
}
.swiper-button-prev{
	left: 868px;
	background: #0082C6;
	border-radius: 6px 0 0 6px;
	padding: 20px 30px;
}
.swiper-button-next{
	background: #0082C6;
	border-radius: 0 6px 6px 0;
	padding: 20px 30px;
}
.blog_slide{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	border-radius: 6px;
}
.bg_slide1{
	background-image: url(../img/blog1.png);
}
.bg_slide2{
	background-image: url(../img/blog2.png);
}
.blog_slide_inner{
	position: absolute;
	bottom: 0;
	margin: 0 0 20px 20px;
	color: #fff;
}
.slide_inner_title{
	font-family: Inter;
	font-size: 28px;
	font-weight: 400;
	line-height: 33.6px;
}
.slide_inner_title:hover{
	color: #0082C6;
}
.slide_inner_text{
	color: #fff;
	}
.collaborate{
	background-color: #F0F2F5;
	margin-top: 30px;
	padding-top: 55px;
	height: 570px;
}
.collaborate_inner{
	display: flex;
	justify-content: space-between;
}
.collaborate_img{
	   position: relative;
    bottom: 130px;
}
.collaborate_contact{
	height: 500px;
}
.collaborate_title{
	margin-top: 15px;
}
.collaborate_text{
	margin-top: 15px;
}
.form{
	margin-top: 15px;
}
.form_input{
	background-color: #F0F2F5;
	border: 1px solid #E4E4EB;
	width: 100%;
	height: 66px;
	margin-bottom: 20px;		
	padding-left: 20px;
}
.common_text::placeholder{
	font-size: 16px;
	font-family: Arial;
	font-weight: 400;
	line-height: 25.6px;
}
.form_btn{
	background-color: #0082C6;
	padding: 10px 40px;
	border-radius: 6px;
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	line-height: 22.4px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	margin-top: 5px;
}
.footer{
	background-color: #323232;
	padding-top: 14px;
}
.footer_inner{
	display: flex;
	justify-content: space-between;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: #A0A0A0;
}
.footer_info{
	margin-top: 16px;

}
.footer_info_mod{
	border-left: 1px solid #A0A0A0;
	height: 100%;	
	padding-left: 15px;
}
.info_link:hover{
	color: #fff;
}
.social_inner{
	display: flex;
	gap: 10px;
	justify-content: center;
	padding-bottom: 20px;
}
.content_text{
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	color: #9299A6;
}
.content_text span{
	color: #000;
}
.content_text img{
	position: relative;
	top: 5px;
}
.repair_list{
	width: 260px;
	border: 1.5px solid #EBEBF0;
	border-radius: 20px;
	padding: 15px 20px;
	font-family: Arial;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.repair_items_active{
	color: #0082C6;
}
.repair_items{
	border-bottom: 1.5px solid #EBEBF0;
	padding: 10px 0;
}
.repair_items:hover{
	color: #0082C6;
}
.repair_items_mod{
	padding: 10px 0;
}
.repair_items_mod:hover{
	color: #0082C6;
}
.repair_inner{
	display: flex;
	gap: 20px;
}
.repair_text{
	margin-top: 25px;
}
.repair_contact_text{
	color: #020202;
	padding: 20px;
	border-radius: 20px;
	border: 2px solid #0082C6;
	margin-bottom: 65px;
}
.repair_contact_text a:hover{
	color: #0082C6;
	font-weight: 600;
}
.container_slider{
	max-width: 715px;
	margin-top: 25px;
}
.sliders{
	display: flex;
}
.btn_slider{
	width: 25px;
	height: 25px;	
	cursor: pointer;	
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
}
.slider_prev{
	left: 25px;
}
.slider_next{
	right: 50px;
}
.parts{
	margin-top: 20px;
}
.parts_img{
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 13px 20px;
}
.parts_img_main{
	grid-row: 1/4;
	grid-column: 1/3;
}
.parts_img_item{
	border-radius: 20px;
}
.parts_order{
	margin-top: 30px;
}
.patrs_order_title{
	margin-bottom: 42px;
}
.parts_btn{
	border-radius: 30px;
	background-color: #0082c6;
	padding: 12px 45px;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	line-height: 18.4px;
	text-align: center;
	color: #fff;
}
.parts_btn:hover{
	color: #ebebf0;
}
.feedback{
	margin-top: 40px;
}
.feedback_line{
	border-top: 2px solid #EBEBF0;	
}
.feedback_title{
	margin-top: 30px;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	line-height: 18.4px;
}
.feedback_box{
	margin: 20px 0;
	padding: 20px;
	border: 1px solid #D9D9D9;
	border-radius: 20px;
}
.feedback_box_mod{
	margin: 20px 0 65px 0;
	padding: 20px;
	border: 1px solid #D9D9D9;
	border-radius: 20px;
}
.feedback_box_user{
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 15px;
}
.feedback_box_user_name{
	font-family: Arial;
	font-size: 16px;
	font-weight: 600;
	line-height: 18.4px;
}
@media(max-width: 1000px){
	.main_text{
		width: 100%;
	}
	.advantage_text{
		width: 100%;	
	}
	.swiper-button-prev{
		left: 825px;
	}
}
@media(max-width: 865px){
	.main_title{
		font-size: 50px;
	}
		.swiper-button-prev{
		left: 690px;
	}
}
@media(max-width: 820px){
	.header_inner_contact{
		gap: 10px;
	}
	.header_inner_contact_link{
		padding: 8px 10px;
	}
	.advantage_list_item,
	.advantage_list_item_mod{
		padding: 15px 0 0 15px;	
	}
		.swiper-button-prev{
		left: 645px;
	}
}
@media(max-width: 790px){
	.main_title{
		font-size: 45px;
	}
			.swiper-button-prev{
		left: 615px;
	}
}
@media(max-width: 768px){
	.header_inner{
		display: block;
		text-align: center;
	}
	.header_inner_contact{
		display: block;	
		text-align: center;
	}
	.header_inner_lang{
		display: block;
		text-align: center;
	}
	.header_lang_list{
		border: 1px solid #007aff;
	}
	.contact_img{
		display: inline-block;
		text-align: center;
	}
	.header_inner_src{
		display: none;
	}
	.header_line-bottom_list{
		transform: translateY(-100%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 460px;
		margin: 0 auto;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		background: linear-gradient(0.00deg, rgb(0, 129, 197),rgb(2, 87, 147) 100%);
		display: block;
		text-align: center;
		padding-top: 30px;
		transition: transform .3s ease;
	}
	.header_line-bottom_list.header_line-bottom_list_open{
		transform: translateY(0%);
	}
	.header_line-bottom_item{
		margin-bottom: 20px;
	}
	.menu_btn{
		display: flex;
	}
	.menu_close{
		display: flex;
	}
	.menu_close_btn{
		position: absolute;
		top: 20px;
		right: 20px;
		}
	.header_line-bottom{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 0;
	}
	.advantage_list{
		font-size: 14px;	
		line-height: 16.1px;	
	}
	.advantage_list_item,
	.advantage_list_item_mod{
		padding: 10px 0 0 10px;	
	}
	.plan{
		padding-top: 55px;
	}
	.step_number{
		font-size: 35px;
		line-height: 42px;
	}
	.common_title{
		font-size: 35px;
		line-height: 35.31px;
	}
	.common_subtitle{
		font-size: 20px;
		line-height: 32px;
	}
	.common_text{
		font-size: 14px;
		line-height: 22.4px;
	}
	.plan_step_text{
		padding-right: 15px;
	}
	.request_link{
		font-size: 14px;
		line-height: 22.4px;
	}
	.work{
		padding-top: 55px;
	}
	.swiper-button-prev{
		left: 595px;
	}
	.slide_inner_title{
		font-size: 20px;
		line-height: 24px;
	}
	.form_input{
	height: 54px;
	}
.common_text::placeholder{
	font-size: 14px;
	line-height: 22.4px;
	}
	.footer_inner{
		display: block;
		text-align: center;
	}
	.footer_info_mod{
		border: none;
	}
}
@media(max-width: 700px){
	.step_list{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.plan_step_title{
		margin-top: 10px;
	}
	.swiper-button-prev{
		left: 525px;
	}
	.collaborate_img{
		bottom: 70px;
	}
	.collaborate_img_inner{
		width: 100%;
	}
}
@media(max-width: 570px){
	.main_title{
		font-size: 30px;
		line-height: 50px;
	}
	.activity_list{
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
	}
	.swiper-button-prev {
    left: 395px;
  }
}
@media(max-width: 550px){
	.main_title{
		font-size: 27px;
		line-height: 50px;
	}
	.advantage{
		padding-top: 10px;
		margin-top: 10px;
	}
	.advantage_list{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;	
		border: none;
	}
	.advantage_list_item,
	.advantage_list_item_mod{
		border: 2px solid #EBEBF099;
		border-radius: 20px;
		padding: 10px 0 0 10px;
	}
	.advantage_text{
		padding-top: 0;
	}
		.swiper-button-prev {
    left: 370px;
  }
  .collaborate{
  	height: 400px;
  }
  .collaborate_img{
  	display: none;
  }
}
@media(max-width: 430px){
	.main{
		padding-top: 65px;
	}
	.main_title{
		font-size: 26px;
		line-height: 50px;
	}
	.plan {
    padding-top: 45px;
  	}
  	.work,
  	.partner,
  	.blog{
  		padding-top: 50px;
  	}
	.swiper-button-prev {
    left: 255px;
  }
   .collaborate{
  	height: 480px;
  }
}