html{
	box-sizing: border-box;
}
*,
*::after,
*::before{
	box-sizing: inherit;
}
body{
	color: #85859B;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.7;
}
ul{
	list-style: none;
	margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
button{
	background-color: transparent;
	border: none;
	padding: 0;
}
.container{
	max-width: 1150px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
a{
	color: inherit;
	text-decoration: none;
}
.header_inner{
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
	padding: 29px 0;
}
/*.menu{
	color: #4C5866;
	font-size: 20px;
	line-height: 23px;
	}*/
	.menu_btn{
		display: none;
		width: 50px;
		height: 30px;
		background-color: inherit;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		bottom: 37px;
	}
	.menu_btn span{
		background-color: #4C5866;
		height: 2px;
		width: 100%;
	}
	.menu_inner{
		margin-left: auto;
		color: #4C5866;
		font-size: 20px;
		line-height: 23px;
	}
.menu_list{
	display: flex;
	align-items: center;
	gap: 60px;
}
.mobile_nav, 
.menu_close{
	display: none;
}
.user_actions{
	display: flex;
	/*justify-content: flex-end;*/
	gap: 30px;
	align-items: center;
}
.menu_item_search{
	margin-left: 60px;
}
.top{
	border-top: 1px solid #DDDDDD;
	padding-top: 60px;
}
.top_inner{
	display: flex;
	gap: 125px;
	align-items: center;
}
.top_title{
	max-width: 444px;
	color: #4C5866;
	font-size: 60px;
	line-height: 60px;
	font-weight: 400;
	margin: 0 0 30px;
}
.top_text{
	max-width: 445px;
	color: #85859B;
	font-weight: 400;
	line-height: 27px;
	margin: 0 0 30px;
}
.top_btn{
	width: 255px;
	padding: 20px 50px;
	color: #7875FE;
	font-size: 20px;
	border: 1px solid #7875FE;
}
.contain{
	background-color: #EBEBEB;
	padding-top: 90px;
	padding-bottom: 90px;
}
.contain_inner{
	display: flex;
	gap: 30px;	
	padding-bottom: 90px;
}
.contain_list{
	border-top: 1px solid #C0C0C0;
	padding-top: 19px;
}
.contain_item{
	display: flex;
	align-items: center;
	gap: 30px;
}
.contain_title{
	margin: 0;
	color: #666;
	font-weight: 500;
	line-height: 27px;
}
.contain_text{
	margin: 0;
	color: #85859B;
	line-height: 27px;
}
.contain_paper_list{
	display: flex;
	align-items: center;
	gap: 30px;
}
.contain_paper_title{
	color: #666;
	font-size: 40px;
	font-weight: 400;
	line-height: 40px;
	padding-bottom: 20px;
}
.contain_paper_text{
	color: #85859B;
	font-weight: 400;
	line-height: 30.6px;
}
.products{
	padding-top: 90px;
	padding-bottom: 90px;
}
.products_list{
	display: flex;
	gap: 30px;
	max-width: 255px;
}
.products_item_img{
	max-height: 180px;
	margin-bottom: 20px;
}
.products_title{
	color: #666;
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 8px;
	line-height: 35px;
}
.products_count{
	color: #B5B5BD;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	margin: 0 0 8px;
}
.products_text{
	line-height: 30.6px;
	max-height: 155px;
	margin: 0 0 20px;
}
.products_detail{
	color: #7875FE;
	font-size: 20px;
	line-height: 23px;
	margin: 0;
}
.partners{
	background-color: #EBEBEB;
	padding-top: 90px;
	padding-bottom: 90px;
}
.partners_inner{
	display: flex;
	gap: 30px;
}
.partners_items{
	min-width: 255px;
	height: 135px;
	border: 1px solid #C4C4C4;
	justify-content: center;
	align-items: center;
	display: flex;
}
.scatchbook{
	padding-top: 90px;
}
.scatchbook_list{
	display: flex;
	gap: 30px;
}
.scatchbook_title{
	color: #666;
	font-size: 40px;
	font-weight: 400;
	line-height: 40px;
	margin: 24px 0 9px 0;
}
.scatchbook_text{
	max-width: 350px;
	color: #85859B;
	font-size: 18px;
	line-height: 30.6px;
	margin: 0 0 30px;
}
footer{
	background-color: #4C5866;
}
.footer_inner{
	display: flex;
	align-items: center;
	padding: 28px 0;
	justify-content: space-between;
}
.social_list{
	display: flex;
	
	align-items: center;
	gap: 30px;
	align-items: center;
}
@media(max-width:880px){
.header_inner{
		display: grid;
		grid-template-columns: auto auto;
		justify-content: unset;
		padding: 11px 0;
	}
	.menu_inner{
		order: 1;
		/*grid-column-start: span 2;*/
		grid-column: 1/-1;
		margin-left: 0;
	}
	.menu_list{
		gap: 0;
		justify-content: space-between;
		border-bottom: 1px solid #DDD;
		border-top: 1px solid #DDD;
		padding: 18px 18px;
	}
	.user_actions{
		justify-content: flex-end;
	}
}
@media(max-width:450px){
	.mobile_nav, 
.menu_close{
	display: block;
}
	.header_inner{
		grid-template-columns: auto;
	}
	.logo{
		margin: 0 auto 5px;
	}
	.menu_list{
		transform: translateY(-140%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 290px;
		margin: 0 auto;
		display: block;	
		text-align: center;	
		background-color: #EBEBEB;
		border: none;
		padding: 0;
		transition: transform .6s ease;
	}
	.menu_list.menu_list_open{
		transform: translateY(0%);
	}
	.menu_btn{
		display: flex;
	}
	.menu_close_btn{
		position: absolute;
		top: 60px;
		left: 10px;
	}
	.menu_item{
		text-align: left;
		padding-bottom: 50px;
		padding-left: 15px;
	}
		.menu_item_first{
		padding-top: 60px;
		pl15
	}
	.mobile_actions{
		background-color: #fff;
	}
	.mobile_actions_items{
		padding: 14px 0 2px;
		display: flex;
		align-items: center;
	}
	.user_actions{
		border-bottom: 1px solid #DDD;
		border-top: 1px solid #DDD;
		padding-top: 10px;
	}
}