@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff'),
        url('../fonts/BebasNeueRegular.ttf') format('truetype'),
        url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BebasNeueBook';
    src: url('../fonts/BebasNeueBook.eot');
    src: url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueBook.woff2') format('woff2'),
        url('../fonts/BebasNeueBook.woff') format('woff'),
        url('../fonts/BebasNeueBook.ttf') format('truetype'),
        url('../fonts/BebasNeueBook.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    }
html{
	box-sizing: border-box;
}
*, *::after, *::before{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html, body{
	min-height: 100%;
}
body{
	font-family: 'Bebas Neue';
}
a{
	text-decoration: none;
	color: inherit;
}
ul{
	list-style: none;
}
input{
	font-family: 'Montserrat';
	color: #444444;
	font-size: 18px;
	width: 100px;
}
.header{
	background-image: url(../img/bg.jpg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.container{
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}
.header_inner{
	display: flex;
	justify-content: space-between;
	z-index: 10;
}
.sticky {
   position: fixed;
top: 0;
left: 0;
right: 0;
}
.nav_btn{
	width: 30px;
	height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	display: none;
}
.nav_btn span{
	height: 2px;
	background-color: #d3c1a2;
	width: 100%;
}
.menu_list{
	display: flex;
	gap: 30px;
	align-items: center;
	padding-top: 20px;
	padding-left: 10px;
}
.menu_list_item{
	text-transform: uppercase;
	font-size: 16px;
}
.menu_mum{
	border: 1px solid #c7af8a;
	border-radius: 5px;
	padding: 10px;
}
.title_inner{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.title{
	padding-top: 50px;
}
.title_desc{
	font-weight: normal;
	font-size: 23px;
	text-transform: uppercase;
	padding-left: 50px;
}
.title_img{
	margin-top: 5px;
	margin-bottom: 10px;
	height: 245px;
}
.title_slog{
	padding-left: 70px;
	text-transform: uppercase;
	font-size: 40px;
	font-family: 'BebasNeueBook';
	color: #444444;
}
.price{
	padding-top: 20px;
}
.price_block{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.price_box{
	margin-top: 20px;
	margin-left: 70px;
	padding-left: 10px;
	border-left: 20px solid transparent;
	border-image: url(../img/bord_left.png);
	border-image-slice: 20;
  	border-image-repeat: stretch;
  	font-family: 'Montserrat';
  	color: #c7af8a;
}
.price1{
	font-size: 17px;
}
.price2{
	font-size: 44px;
	font-weight: 600;	
}
.price3{
	font-size: 18px;
	padding-left: 100px;
}
.price_desc{
	max-width: 350px;
}
.price_text{
	font-size: 18px;
	color: #444444;
}
.footer_nav{
	display: grid;
	grid-template-columns: auto auto;
}
.footer_top{
	grid-column: 2;
	border-bottom: 30px solid transparent;
	border-image: url(../img/bord_top.png);
	border-image-slice: 100;
  	border-image-repeat: stretch;
}
.footer_nav_item{
	grid-column: 2;
	background-color: #d3c1a2;
	padding-left: 10px;
	font-size: 18px;
	display: flex;
	padding: 12px;
	align-items: center;
}
.footer_bot{
	grid-column: 2;
	border-top: 30px solid transparent;
	border-image: url(../img/bord_bottom.png);
	border-image-slice: 100;
  	border-image-repeat: stretch;

}
.footer_nav_text{
padding-right: 20px;
font-size: 30px;
}
.form_checkin{
	background-color: #fff;
	display: grid;
	grid-template-columns: auto auto;
	border-radius: 5px;
	margin-right: 10px;
}
.form_logo{
	grid-row-start: span 2;
	display: flex;
	align-items: center;
	margin: 0 10px;
}
.form_logo img{
	height: 17px;
	width: 17px;
}
.form_checkin_title{
	font-family: 'Montserrat';
	font-size: 12px;
	color: #696969;
	padding-top: 5px;
	padding-right: 5px;
}
.form_checkin_date_item{
	border: 1px solid transparent;
	border-radius: 5px;
}
.guest select{
	border: none;
}
.footer_btn{
	background-color: #fbd407;
	border: none;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 3px;
	box-shadow: 1px 1px 5px #9d9491;
	cursor: pointer;
}
.info{
	padding-top: 40px;
}
.info_title{
	text-align: center;
	font-weight: 400;
}
.info_title_decor{
	display: flex;
}
.info_title_decor_img{
	margin: 0 auto;
}
.room{
	padding: 40px;
}
.room_list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.room_list img{
	width: 100%;
}
.room_desc{
	display: grid;
	grid-template-columns: repeat(3, 1fr);	
	position: relative;
	top: -50px;
	justify-content: space-between;
}
.room_desc_item{
	width: 270px;
	height: 200px;
	/*background-color: #eaedec;*/
	margin: 0 auto;
	/*padding: 0 60px;*/
}
.room_name{
	/*display: flex;	*/
	background-color: #eaedec;
}
.item{
	margin: auto;
	padding: 10px;
}
.room_text{
	font-family: 'Montserrat';
	font-size: 12px;
	padding: 10px;
}
.room_name{
	display: flex;
}
.room_price{
	display: flex;
	font-family: 'Montserrat';
	background-color: #eaedec;
}
.room_price_list{
	width: 70%;
	border-top: 1px solid #dcdfde;
}
.room_price_list_item{
	border-left:  3px solid #697e53;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 164px;
}
.room_price1{
	font-size: 12px;
}
.room_price2{
	font-size: 20px;
	font-weight: 700;
}
.room_price3{
	font-size: 12px;
	padding-left: 30px;
}
.room_text_btn{
	font-size: 12px;
	display: flex;
	text-align: center;
	align-items: center;
	background-color: #f5d101;
}
.item_img{
	position: relative;
	z-index: 1;
	top: -74px;
	left: -30px;
}
.slider{
	padding: 20px;
}
.slider_p{
	font-family: 'Montserrat';
}
.slider_price1{
	font-size: 22px;
}
.slider_price2{
	font-size: 40px;
	font-weight: 600;	
}
.slider_list{
	padding: 20px 0 50px 0;
	list-style: square;
	margin-left: 10px;
	 
}
.room_slider_cont{
	display: flex;
	padding: 0 100px;
}
.room_slider_text{
	padding: 20px;
	border-top: thick double #697e53;
	border-right: thick double #697e53;
	border-bottom: thick double #697e53;
}
.room_slider_img img{
	width: 100%;
}
.slider_footer{
	text-align: center;
}
.feedback_slider_btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.feedback_prev_btn {
	z-index: 3;
  left: 15px;
}
.feedback_next_btn {
  right: 15px;
}
.wellcome{
	padding-top: 30px;
}
.wellcome_list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.wellcome_text{
	position: relative;
	left: -70px;
	z-index: 2;
	width: 400px;
}
.wellcome_text p{
	width: 100%;
	font-family: 'Montserrat';
	font-size: 14px;
	padding-bottom: 20px;
}
.wellcome_text img{
	display: flex;
	margin: 0 auto;
}
.wellcome_text_inner{
	border: thick double #c2aa7f;
	background-color: #fff;
	padding: 20px;
}
.wellcome_animal{
	z-index: 4;
	position: relative;
	left: -120px;
}
.wellcome_btn{
	display: flex;
	margin: 0 auto;
	padding: 10px 20px;
	background-color: #f5d101;	
	border: thick double #c2aa7f;
	cursor: pointer;	
}
.video-container {
	padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 10px;
}
.thumbnail-container img{
	padding: 0 10px;
}
.thumbnail {
  width: 100px; 
  height: 60px; 
  margin: 0 10px;
  background-color: #000;
  text-align: center;

}
.selected {
  border: 3px solid rgba(212, 193, 161, 1.00);
  border-radius: 5px; 
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.arrow-left {
  margin-right: 20px;
}

.arrow-right {
  margin-left: 20px;
}
.about{
	padding-top: 30px;
}
.event{
	padding-top: 30px;
}
.event_list{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
}
.event_list_img{
	width: 100%;
}
.event_title_main{
	font-size: 56px;
}
.event_list_item{
	background-color: #fbfbfb;
}
.event_list_item:hover{
	background-color: #c4c4c4;
	border: 2px solid #c2aa7f;
}
.event_list_text{
	padding: 0 10px;
}
.way{
	padding-top: 30px;
}

.way_info{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.way_list{
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 30px;
}
.way_list_item{
	align-items: center;
}
.way_text{
	font-family: 'Montserrat';
}
.way_info_map_img{
	width: 100%;
}
.way_contact{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border: thick double #c2aa7f;
	padding: 20px;
}
.way_contact h2{
	padding-bottom: 40px;
}
.contact_title{
	font-family: 'Bebas Neue';
}
.contact_item{
	font-family: 'Montserrat';
}
.contact_list{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.contact_text{
	display: flex;
	gap: 10px;
}
.contact_soc{
	font-family: 'Montserrat';
	padding-top: 65px;
}
.contact_soc_list{
	display: flex;
	padding-top: 10px;
	gap: 5px;
}
@media(max-width: 1000px){
	.room_desc_item{
		width: 232px;
	}
	.item{
		width: 60px;
	}
	.wellcome_animal{
		display: none;
	}
	.room_slider_text{
		padding: 10px;
	}
	.slider_p{
	font-size: 13px;
	}
.slider_list{
	padding: 10px 0 10px 0;
	}
.slider_price2{
	font-size: 30px;
	}
}
@media(max-width: 850px){
	.room_desc_item{
		width: 194px;
	}
	.item_img{
		top: -70px;
	}
	.slider_p{
	font-size: 11px;
	}
.slider_list{
	padding: 7px 0 8px 0;
	}
.slider_price2{
	font-size: 20px;
	}
	.event_list{
	grid-template-columns: repeat(4, 1fr);
}
}
@media(max-width: 840px){
	.title_desc{
	font-size: 15px;
	padding-left: 50px;
}
.title_img{
	margin-top: 5px;
	margin-bottom: 10px;
	height: 200px;
}
.title_slog{
	font-size: 35px;
}
.footer_nav_item{
	padding: 9px;
}
.footer_nav_text{
	font-size: 20px;
}
.room_text{
	font-size: 10px;
	padding: 6px;
}
.room_price_list_item{
	width: 104px;
}
.room_slider_cont{
	display: flex;
	padding: 0 10px;
}
.wellcome_animal{
	display: none;
}	
.wellcome_list{
	padding: 0 5px;
	display: flex;
	gap: 10px;
}
.wellcome_text{
	position: relative;
    left: 0;
}
.event_list{
	grid-template-columns: repeat(3, 1fr);
}
}
@media(max-width: 710px){
	.room_slider_text{
		width: 800px;
	}
	.room_slider_img img{
	height: 100%;
	width: 100%;
}
	.room_desc_item{
		width: 161px;
	}
	.item_img{
		top: -88px;
	}
	.room_price_list_item{
		width: 87px;
	}
	.room_price2{
		font-size: 17px;
	}
	.room_price3{
		padding-left: 20px;
	}
	.room_price{
	display: block;
}
.room_desc_item{
	width: 130px;
}
.room_slider{
	width: 100%;
}
}

@media(max-width: 700px){
	.item_img{
		display: none;
	}
.wellcome_text_inner{
	padding: 10px;
}
.room_text{
	font-size: 10px;
	padding: 6px;
}
.room_price_list_item{
	width: 87px;
}
.room_slider_cont{
	display: flex;
	padding: 0 10px;
}
.main_video{
	width: 90%;
}
.arrow-left{
	left: 40px;
	position: relative;
	margin-right: 0;
}
.arrow-right{
	margin-left: 0;
}
.venz_slider{
	display: none;
}
.thumbnail-container img{
	padding: 0 3px;
}
input{
	width: 58px;
}
.room_name{
	display: block;
}
.room_slider{
	display: block;
}
}
@media(max-width: 610px){
	.nav_btn{
		display: flex;
		margin: 10px;
	}
	.nav_btn, 
	.logo{
		position: relative;
		z-index: 10;
	}
	.menu_list{
		position: absolute;
		z-index: 5;
		background-color: #c2aa7f;
		flex-direction: column;
		align-items: center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 30px;
		height: 100vh;
		transform: translateY(-100%);
		transition: transform .3s ease;
	}
	.menu_list.menu_list_active{
		transform: translateY(0%);
	}
	.wellcome_list{
		justify-content: center;
	}
	.wellcome_img{
		display: none;
	}
	.event_title_main{
		font-size: 20px;
	}
	.event_title_main_link{
		font-size: 12px;
	}
	.way_text{
		font-size: 12px;
	}
	.way_info{
		display: block;
	}
}
@media(max-width: 500px){
	.title_img{
	margin-top: 5px;
	margin-bottom: 10px;
	height: 100px;
}
.title_slog{
	font-size: 20px;
	padding: 0 0 0 10px;
}
.price2{
	font-size: 20px;
}
.price3{
	padding: 0 0 0 20px;
}
.footer_nav_text{
	padding-right: 5px;
	font-size: 15px;
}
.footer_btn{
	background-color: #fbd407;
	border: none;
	font-size: 10px;
	padding: 5px 5px;
	cursor: pointer;
}
.form_checkin_title {
    font-size: 7px;
    padding-top: 5px;
    padding-right: 5px;
}
.slider_price1{
	font-size: 12px;
}
.slider_price2{
	font-size: 17px;
}

.room_slider_text{
	padding: 7px;
	border: thick double #697e53;
}
}
@media(max-width: 376px){
	.footer_nav_text{
			font-size: 12px;	
	}
	.form_logo{
		 margin: 0 5px;	
	}
	input {
    width: 48px;
}
.room {
    padding: 10px;
}
.room_desc_item {
    width: 108px;
}
.room_text {
    font-size: 9px;
    padding: 5px;
}
.thumbnail-container img {
    padding: 0 0px;
}
.arrow-left{
	left: 30px;
	position: relative;
	margin-right: 0;
}
.arrow-right{
	margin-left: 0;
	right: 30px;
	position: relative;
}
.way_contact{
	padding: 10px;
}
.contact_soc{
	padding-top: 36px;
}
.contact_soc_list img{
	height: 30px;
}
.way_contact h2 {
    padding-bottom: 15px;
}
.contact_item{
	font-size: 12px;
}
.contact_text img{
	display: none;
}
}