@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff'),
        url('../fonts/BebasNeueRegular.ttf') format('truetype'),
        url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BebasNeueBook';
    src: url('../fonts/BebasNeueBook.eot');
    src: url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueBook.woff2') format('woff2'),
        url('../fonts/BebasNeueBook.woff') format('woff'),
        url('../fonts/BebasNeueBook.ttf') format('truetype'),
        url('../fonts/BebasNeueBook.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    }
html{
	box-sizing: border-box;
}
*, *::after, *::before{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html, body{
	min-height: 100%;
}
body{
	font-family: 'Bebas Neue';
}
a{
	text-decoration: none;
	color: inherit;
}
ul{
	list-style: none;
}
input{
	font-family: 'Montserrat';
	color: #444444;
	font-size: 18px;
	width: 100px;
}
.header{
	background-image: url(../img/bg.jpg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.container{
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}
.header_inner{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.menu_list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-left: 10px;
}
.menu_list_item{
	text-transform: uppercase;
	font-size: 16px;
}
.menu_mum{
	border: 1px solid #c7af8a;
	border-radius: 5px;
	padding: 10px;
}
.title_inner{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.title{
	padding-top: 50px;
}
.title_desc{
	font-weight: normal;
	font-size: 23px;
	text-transform: uppercase;
	padding-left: 50px;
}
.title_img{
	margin-top: 5px;
	margin-bottom: 10px;
	height: 245px;
}
.title_slog{
	padding-left: 70px;
	text-transform: uppercase;
	font-size: 40px;
	font-family: 'BebasNeueBook';
	color: #444444;
}
.price{
	padding-top: 20px;
}
.price_block{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.price_box{
	margin-top: 20px;
	margin-left: 70px;
	padding-left: 10px;
	border-left: 20px solid transparent;
	border-image: url(../img/bord_left.png);
	border-image-slice: 20;
  	border-image-repeat: stretch;
  	font-family: 'Montserrat';
  	color: #c7af8a;
}
.price1{
	font-size: 17px;
}
.price2{
	font-size: 44px;
	font-weight: 600;	
}
.price3{
	font-size: 18px;
	padding-left: 100px;
}
.price_desc{
	max-width: 350px;
}
.price_text{
	font-size: 18px;
	color: #444444;
}
.footer_nav{
	display: grid;
	grid-template-columns: auto 880px;
	/*grid-template-columns: repeat(3 1fr);*/
}
.footer_top{
	grid-column: 2;
	border-bottom: 30px solid transparent;
	border-image: url(../img/bord_top.png);
	border-image-slice: 100;
  	border-image-repeat: stretch;
}
.footer_nav_item{
	grid-column: 2;
	background-color: #d3c1a2;
	padding-left: 10px;
	font-size: 18px;
	display: flex;
	padding: 12px;
	align-items: center;
}
.footer_bot{
	grid-column: 2;
	border-top: 30px solid transparent;
	border-image: url(../img/bord_bottom.png);
	border-image-slice: 100;
  	border-image-repeat: stretch;

}
.footer_nav_text{
padding-right: 20px;
font-size: 30px;
}
.form_checkin{
	background-color: #fff;
	display: grid;
	grid-template-columns: auto auto;
	border-radius: 5px;
	margin-right: 10px;
}
.form_logo{
	grid-row-start: span 2;
	display: flex;
	align-items: center;
	margin: 0 10px;
}
.form_logo img{
	height: 17px;
	width: 17px;
}
.form_checkin_title{
	font-family: 'Montserrat';
	font-size: 12px;
	color: #696969;
	padding-top: 5px;
	padding-right: 5px;
}
.form_checkin_date_item{
	border: 1px solid transparent;
	border-radius: 5px;
}
.guest select{
	border: none;
}
.footer_btn{
	background-color: #fbd407;
	border: none;
	font-size: 18px;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 1px 1px 5px #9d9491;
}
.info_title{
	margin: 0 auto;
	border-bottom: 30px solid transparent;
	border-image: url(../img/info_title.png);
	border-image-slice: 25;
  	border-image-repeat: stretch;

}
.info_box{
	display: flex;
}