@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff'),
        url('../fonts/BebasNeueRegular.ttf') format('truetype'),
        url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BebasNeueBook';
    src: url('../fonts/BebasNeueBook.eot');
    src: url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueBook.woff2') format('woff2'),
        url('../fonts/BebasNeueBook.woff') format('woff'),
        url('../fonts/BebasNeueBook.ttf') format('truetype'),
        url('../fonts/BebasNeueBook.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    }
html{
	box-sizing: border-box;
}
*, *::after, *::before{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html, body{
	min-height: 100%;
}
body{
	font-family: 'Bebas Neue';
}
a{
	text-decoration: none;
	color: inherit;
}
ul{
	list-style: none;
}
input{
	font-family: 'Montserrat';
	color: #444444;
	font-size: 18px;
	width: 100px;
}
.header{
	background-image: url(../img/bg.jpg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.container{
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}
.header_inner{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.menu_list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-left: 10px;
}
.menu_list_item{
	text-transform: uppercase;
	font-size: 16px;
}
.menu_mum{
	border: 1px solid #c7af8a;
	border-radius: 5px;
	padding: 10px;
}
.title_inner{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.title{
	padding-top: 50px;
}
.title_desc{
	font-weight: normal;
	font-size: 23px;
	text-transform: uppercase;
	padding-left: 50px;
}
.title_img{
	margin-top: 5px;
	margin-bottom: 10px;
	height: 245px;
}
.title_slog{
	padding-left: 70px;
	text-transform: uppercase;
	font-size: 40px;
	font-family: 'BebasNeueBook';
	color: #444444;
}
.price{
	padding-top: 20px;
}
.price_block{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.price_box{
	margin-top: 20px;
	margin-left: 70px;
	padding-left: 10px;
	border-left: 20px solid transparent;
	border-image: url(../img/bord_left.png);
	border-image-slice: 20;
  	border-image-repeat: stretch;
  	font-family: 'Montserrat';
  	color: #c7af8a;
}
.price1{
	font-size: 17px;
}
.price2{
	font-size: 44px;
	font-weight: 600;	
}
.price3{
	font-size: 18px;
	padding-left: 100px;
}
.price_desc{
	max-width: 350px;
}
.price_text{
	font-size: 18px;
	color: #444444;
}
.footer_nav{
	display: grid;
	grid-template-columns: auto 880px;
	/*grid-template-columns: repeat(3 1fr);*/
}
.footer_top{
	grid-column: 2;
	border-bottom: 30px solid transparent;
	border-image: url(../img/bord_top.png);
	border-image-slice: 100;
  	border-image-repeat: stretch;
}
.footer_nav_item{
	grid-column: 2;
	background-color: #d3c1a2;
	padding-left: 10px;
	font-size: 18px;
	display: flex;
	padding: 12px;
	align-items: center;
}
.footer_bot{
	grid-column: 2;
	border-top: 30px solid transparent;
	border-image: url(../img/bord_bottom.png);
	border-image-slice: 100;
  	border-image-repeat: stretch;

}
.footer_nav_text{
padding-right: 20px;
font-size: 30px;
}
.form_checkin{
	background-color: #fff;
	display: grid;
	grid-template-columns: auto auto;
	border-radius: 5px;
	margin-right: 10px;
}
.form_logo{
	grid-row-start: span 2;
	display: flex;
	align-items: center;
	margin: 0 10px;
}
.form_logo img{
	height: 17px;
	width: 17px;
}
.form_checkin_title{
	font-family: 'Montserrat';
	font-size: 12px;
	color: #696969;
	padding-top: 5px;
	padding-right: 5px;
}
.form_checkin_date_item{
	border: 1px solid transparent;
	border-radius: 5px;
}
.guest select{
	border: none;
}
.footer_btn{
	background-color: #fbd407;
	border: none;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 3px;
	box-shadow: 1px 1px 5px #9d9491;
	cursor: pointer;
}
.info{
	padding-top: 40px;
}
.info_title{
	text-align: center;
	font-weight: 400;
}
.info_title_decor{
	display: flex;
}
.info_title_decor_img{
	margin: 0 auto;
}
.room{
	padding: 40px;
}
.room_list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.room_list img{
	width: 100%;
}
.room_desc{
	display: grid;
	grid-template-columns: repeat(3, 1fr);	
	position: relative;
	top: -50px;
}
.room_desc_item{
	width: 270px;
	height: 200px;
	background-color: #eaedec;
	margin: 0 auto;
}
.room_name{
	/*display: flex;	*/
}
.item{
	margin: auto;
	padding: 10px;
}
.room_text{
	font-family: 'Montserrat';
	font-size: 12px;
	padding: 10px;
}
.room_name{
	display: flex;
}
.room_price{
	display: flex;
	font-family: 'Montserrat';
}
.room_price_list{
	border-top: 1px solid #dcdfde;
}
.room_price_list_item{
	border-left:  3px solid #697e53;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 164px;
}
.room_price1{
	font-size: 12px;
}
.room_price2{
	font-size: 20px;
	font-weight: 700;
}
.room_price3{
	font-size: 12px;
	padding-left: 30px;
}
.room_text_btn{
	font-size: 12px;
	display: flex;
	text-align: center;
	align-items: center;
	background-color: #f5d101;
}
.item_img{
	position: relative;
	z-index: 1;
	top: -74px;
	left: -30px;
}
.slider{
	padding: 20px;
}
.slider_p{
	font-family: 'Montserrat';
}
.slider_price1{
	font-size: 22px;
}
.slider_price2{
	font-size: 40px;
	font-weight: 600;	
}
.slider_list{
	padding: 20px 0 50px 0;
	list-style: square;
	margin-left: 10px;
	 
}
.room_slider_cont{
	display: flex;
	padding: 0 100px;
}
.room_slider_text{
	padding: 20px;
	border-top: thick double #697e53;
	border-right: thick double #697e53;
	border-bottom: thick double #697e53;
}
.room_slider_img img{
	width: 100%;
}
.slider_footer{
	text-align: center;
}
.feedback_slider_btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #70c849;
  border: none;
}
.feedback_prev_btn {
	z-index: 3;
  left: 15px;
}
.feedback_next_btn {
  right: 15px;
}

